# Object files
*.o
*.elf
*.ihx
*.rel
*.lst
*.rst
*.def

# Libraries
*.a
*.so

# autoconf's cache
autom4te.cache
aclocal.m4
configure
config.*

# Config
Makefile.config

# generated build files
*.c1
*.c2
*.pal
rom
assets/*.bmp
assets/*.png
assets/*.gif
sprites
samples
samples.inc
04-palette/*.bin
04-palette/*.gif
09-horizontal-sync/precalc.inc

# generated ROM file
*.zip

# gngeo log file on MinGW/MSYS2
gngeo_log.txt

# MAME history files
history/

# Editors tmp
*~
\#*#
.#*
